<%= form_for([@project,@table,@field,@property_assignment,@value], html: {class:"form-horizontal"}) do |f| %>
  <% if @value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@value.errors.count, "error") %> prohibited this value from being saved:</h2>

      <ul>
      <% @value.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :value , class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :value, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :data_type_id , class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :data_type_id, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Submit" , class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
