<h1><%= @project.name %> > <%= @table.name %> > <%= @field.name %> > <%= @property_assignment.property_id %> > Assign Value</h1>

<%= render 'form' %>

<%= link_to 'Back', project_table_field_property_assignment_path(@project, @table, @field,@property_assignment), class: "btn btn-default" %>
