<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @value.value %>
</p>

<p>
  <strong>Data type:</strong>
  <%= @value.data_type_id %>
</p>



<%= link_to 'Edit', edit_project_table_field_property_assignment_value_path(@project, @table, @field,@property_assignment, value) %> |
<%= link_to 'Back', project_table_field_property_assignment_path(@project, @table, @field,@property_assignment) %>
