<p id="notice"><%= notice %></p>

<h1>Listing Property Assignments</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Property</th>
      <th>Value</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_assignments.each do |property_assignment| %>
      <tr>
        <td><%= property_assignment.property_id %></td>
        
        <% if property_assignment.value == nil %>
          <td>no value</td>
          <td><%= link_to 'Assign Value', new_project_table_field_property_assignment_value_path(@project, @table, @field, property_assignment) %></td>
        <% else %>
          <td> <%= property_assignment.value.value %></td>
          <td><%= link_to 'Edit Value', edit_project_table_field_property_assignment_value_path(@project, @table, @field, property_assignment, property_assignment.value) %></td>
        <% end %>
        <td><%= link_to 'Destroy', project_table_field_property_assignment_path(@project, 
          @table, @field,property_assignment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', project_table_fields_path(@project, @table, @field), class:"btn btn-default" %>
<%= link_to 'New Property assignment', new_project_table_field_property_assignment_path(
  @project, @table, @field), class: "btn btn-primary"  %>
