<h1><%= @project.name %> > <%= @table.name %> > <%= @field.name %> > New Property</h1>

<%= render 'form' %>

<%= link_to 'Back', project_table_field_path(@project, @table, @field), class: "btn btn-default" %>

