<p id="notice"><%= notice %></p>

<h1><%= @project.name %> > <u>Tables</u> </h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @tables.each do |table| %>
      <tr>
        <td><%= table.name %></td>
        <td><%= table.description %></td>
        <td><%= link_to 'Show', project_table_path(@project,table) %></td>
        <td><%= link_to 'Edit', edit_project_table_path(@project,table) %></td>
        <td><%= link_to 'Destroy', project_table_path(@project,table), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= button_to 'Download Tests', {action: :download, controller: :tables, id: table.id }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', projects_path, class:"btn btn-default" %>
<%= link_to 'New Table', new_project_table_path(@project), class: "btn btn-primary"  %>
