<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @table.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @table.description %>
</p>




<%= link_to 'Back', project_tables_path(@project) , class: "btn btn-default"%>
<%= link_to 'Edit', edit_project_table_path(@project,@table) , class: "btn btn-warning"%>